/*
Tackled
1. background-image
2. background-size
3. width
4. height
5. padding

Additional
1. min-height
2. justify-content
3. text-transform
4. text-decoration
5. font-weight
6. background-repeat
7. display
8. flex-wrap
9. align-content
10. text-align

*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(black, lightgray);
    min-height: max-content;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #572e11;
}

header .logo {
    color:#fff;
    font-weight: 1000;
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
}

.about-us {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 200px 150px;
    background-image: url('https://i.pinimg.com/564x/79/c3/3f/79c33f5b852f865fea66133c61ad3b1d.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.about-us h2 {
    color: #fff;
    padding-bottom: 60px;
    font-size: 50px;
    font-weight: lighter;
}

.about-us p {
    color: #fff;
    padding: 0px 60px;
    font-size: 20px;
}

hr {
    height: 15px;
    margin: 0px;
    background: #572e11;
}

.menu {
    position: relative;
    padding: 30px 150px;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    text-align: center;
}

.menu > h2 {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 30px;
}

.menu > section {
    padding: 40px 0px;
}

.menu > section > h4 {
    font-size: larger;
}

.menu > section > p {
    padding: 0px 25%;
    padding-top: 20px;
}

.menu > section > article > img {
    height: 400px;
}

.contact-us {
    position: relative;
    padding: 30px 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-us-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.contact-us-main > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.contact-us-main > section > img {
    height: 70px;
    padding-left: 40px;
}

.contact-us-main > section > article {
    padding: 40px;
    text-align: left;
}

footer {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 150px;
    justify-content: space-between;
    text-align: center;
    background: #572e11;
    color: #fff;
}